.sect3
  %h4#_audience Audience
  %p
    While this applies to anyone involved in product design and management (so,
    just about anyone who creates anything for computers) I’m going to specifically
    address this to startups, where there the resources are few and the tension
    between bugs, new-exciting-awesome features, and performance issues are high.
  %p
    At Justin.tv we’ve used the Kano model to put defects, missing features,
    performance, and experimental new features all on an equal footing.
.sect1
  %h2#_introducing_the_kano_model Introducing the Kano Model
  .sectionbody
    %p (If you haven’t already been introduced).
    %p
      A founder one morning is faced with a prioritization issue. There are
      complaints coming in about a page on the site that’s broken - only a few
      complaints, but they seem pretty upset. A cofounder is anxious to make some
      serious headway on Awesomeness(tm), your new awesome feature that will blow
      everyone’s mind and slingshot you ahead of the establishment (or, with some
      probability, will be a huge timesink with zero payoff). On top of it all, the
      site is slow, and you know that just a day or two could increase page load
      speed by 40%. Oh, and you’re not sure you’ve really achieved Minimum Viable
      Product yet (? or have you? it’s just not clear…)
    %p What do you work on next? (choose your own adventure)
    %p (a) Do a cost-benefit analysis of each option.
    %p (b) All of it!
    %p (c) Go with your gut.
    %p Here’s what your answer says about you:
    %p
      (a) You use mad skillz to analyze the negative-buzz-factor of the complaints by
      early-adopters and weigh that against the upside and downside potential (after
      careful analysis) of Awesomeness(tm) and the latest research about conversion
      rates and page-load-speed correlations… Please turn in your entrepreneuer
      badge and report for work at Oracle or Microsoft.
    %p
      (b) Good thinking (avoidance). You’re a pivoting agile madman. However,
      throughout the day you add to your list of three parallel items the other 10
      items that come up and your startup begins to resemble the a blurry smear of
      unfinished initiatives and sleep deprivation.
    %p
      (c) You may not have all the answers, but you have leadership. Assuming you
      have a good intrinsic sense of business, a solid vision, and a degree of luck,
      you succeed! You are the balance between flexible responsiveness and
      decisive-execution-against-all-odds; the balance between chaos and order; a
      monk of the startup order.
    %p
      Believe it or not, the Kano model is
      %em not
      a tool for doing (a) as you might
      assume from a quality model out of the 80’s used by Six Sigma blackbelts in
      fortune 100 companies. It is actually a mental model that allows you to better
      accomplish (c). Ideally it will give you a more well-informed gut.
    %p
      "Kano believed that not all attributes of product or service performance are
      equal in the eyes of the customer, and that some attributes create higher
      levels of customer loyalty than others." — [wikipedia|http://en.wikipedia.org/wiki/Noriaki_Kano#Contributions_to_quality]
    %p Noriako Kano introduced his Customer Satisfaction model
    %p There are two primary purposes for the Kano Model:
    .olist.arabic
      %ol.arabic
        %li
          Model for prioritizing "bugs," new features, and improvements to existing
          features.
    %p
      It’s meant to be a mental model of your product, not a mathematical model.
      Don’t bother actually trying to map all your product features onto this except
      in a few isolated cases explained below.
    %p Instinctively you know that there is some kind of
    %p A given feature or attribute goes from completely absent to fully implemented.
    .sect2
      %h3#_scratch Scratch
      %p
        MVP =⇒ Not necessarily Threshold/Basic values - could be an exciter with just
        enough threshold values - in any case, can call it a successful MVP if you feel
        the customer satisfaction will be neutral or better.
      %p
        Mike Cohn’s article on actually figuring out what category something is in if
        you don’t know. (but we’ll safely assume that you can pretty much intuit it).
      %p Duds vs. Exciters (find out in advance?)
      %ul
        %li
          why experimental features are often killed too early- indistinguishable from
          duds at first.
        %li
          way to differentiate? ASK first (Mike Cohn’s article)
      %p
        %a{:href => "http://www.pragmaticmarketing.com/publications/magazine/4/3/0605ss"} http://www.pragmaticmarketing.com/publications/magazine/4/3/0605ss
