/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*@font-face {
    font-family: 'agaramond_regularscregular';
    src: url('/type/agaramond-regularsc.eot');
    src: url('/type/agaramond-regularsc.eot?#iefix') format('embedded-opentype'),
         url('/type/agaramond-regularsc.woff') format('woff'),
         url('/type/agaramond-regularsc.ttf') format('truetype'),
         url('/type/agaramond-regularsc.svg#agaramond_regularscregular') format('svg');
    font-weight: normal;
    font-style: normal;
}*/

@font-face {
    font-family: 'akzidenz_grotesk_lightregular';
    src: url('/type/akzidenzgrotesk-light-webfont.eot');
    src: url('/type/akzidenzgrotesk-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/type/akzidenzgrotesk-light-webfont.woff') format('woff'),
         url('/type/akzidenzgrotesk-light-webfont.ttf') format('truetype'),
         url('/type/akzidenzgrotesk-light-webfont.svg#akzidenz_grotesk_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
table {
    border-collapse: separate;
    border-spacing: 10px;
}

td {
    padding: 0;
    vertical-align: top;
}
tr {
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4 {
    padding: 0;
    margin: 0;
    padding-bottom: 0.2em;
    font-weight: normal;
    line-height: 1.1em;
}

h1 {
    font-size: 22pt;
    border-top: 1px solid #444;
}

h2 {
    font-size: 16pt;
    border-top: 1px dashed #BBB;
}

h4 {
    font-size: 10pt;
}

time {
    font-size: 9pt;
}

time:before {
    content: '/ ';
}
time:after {
    content: ' /';
}


html { display: table; margin: auto; }
html.index { margin: 0; }
html.about { margin: 0; }

body {
    color: #666;
    font-family: akzidenz_grotesk_lightregular;
    font-size: 1em;
    display: table-cell;
    margin: auto;
}
body.listing {
    margin-left: auto;
    margin-right: 20px;
}

body.about {
    background-color: #000;
    background-image: url('/img/self.jpg');
    background-repeat: no-repeat;
}


header {
    padding: 20px;
    min-width: 200px;
    max-width: 20%;
    /*background-color: white;*/
    position: fixed;
    top: 0;
    left: 0;
}

header.about {
    max-width: 70%;
    min-width: 400px;
    width: 70%;
    border-bottom: 1px solid #CCC;
    padding-bottom: 0;
}

header.article {
}

header.index {
    width: 100%;
    min-width: inherit;
    max-width: inherit;
}
header.listing {
    background-color: transparent;
    max-width: 200px;
}

.jaw {
    padding-right: 20px;
    padding-bottom: 20px;
    float: left;
}

header h1 {
    /*font-family: agaramond_regularscregular;*/
    font-weight: normal;
    font-size: 22pt;
    color: #222;
    margin: 0;
    padding: 0;
    border: none;
    display: inline-block;
}

header h2 {
    /*font-family: agaramond_regularscregular;*/
    font-weight: normal;
    font-size: 16pt;
    color: #888;
    border: none;
    display: inline-block;
}

h1.title-again {
    border-top: none;
    text-align: right;
    line-height: 1.3em;
    color: black;
}

h2.title-again {
    border-top: none;
    border-bottom: 1px dashed #d7d3ba;
    padding-bottom: 10px;
    text-align: right;
    color: #a7a3aa;
}

#information {
    margin-top: 100px;
    padding: 20px;
    max-width: 70%;
    min-width: 400px;
}

article {
    background-color: #F3EFE0;
    padding: 20px;
    padding-top: 10px;
    border: 1px solid #d7d3ba;
    max-width: 40em;
    min-width: 10em;
    position: relative;
    z-index: 2;
    left: -15em;
    margin-left: 30em;
    margin-right: 0;
    margin-top: 20px;
}

article.summary {
    margin: 20px;
    margin-left: 200px;
    max-width: inherit;
    min-width: inherit;
    position: static;
    z-index: 1;
}


article.draft {
    background-color: #FFF3F3;
}

article.summary.draft h1 {
    color: #999;
}
article.summary.draft h2 {
    color: #999;
}

article.summary:hover {
    background-color: #F9F3DA;
}

article.summary h1 {
    border: none;
}
article.summary h2 {
    font-size: 11pt;
    border: none;
    border-bottom: 1px dashed #E3E0CA;
}

article.summary h1 a {
    color: inherit;
}
article.summary h2 a {
    color: inherit;
}


ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    font-size: 10pt;
    float: left;
    color: #a0a0a0;
    padding: 0;
    margin: 0;
}

nav li:after {
    color: #B7C1CF;
    content: "•";
    padding-right: 6pt;
    padding-left: 3pt;
    font-size: 7pt;
}
nav li:last-child:after {
    content: "";
}

a {
    color: #889bb8;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

a:hover {
    text-decoration: underline;
}


#info {
    float: left;
    border-right: 1px dashed #d7d3ba;
    padding: 10px;
    padding-right: 20px;
    /*background-color: #F5F4E5;*/
    font-size: 9pt;
    margin: 20px;
    margin-left: 0;
    margin-bottom: 5px;
    color: #a7a3aa;
}

#info p {
    padding: 0;
    margin: 0;
    font-size: 11pt;
    margin-bottom: 5px;
}

figure {
    background-color: white;
    box-shadow: 0px 0px 3px #555;
    z-index: 2;
    max-height: 18.5em;
    max-width:  410px;
    position: relative;
    top: -1em;
}

figcaption {
    padding: 10px;
    padding-top: 5px;
    font-size: 9pt;
    margin: 0;
    max-width: 300px;
    display: block;
    /*max-width: 410px;*/
    /*max-width: inherit;*/
    /*display: inline-block;*/
}

figure.right {
    margin: 20px;
    margin-right: -160px;
    float: right;
}

figure.left {
    margin: 20px;
    margin-left: -160px;
    float: left;
}

img.right, img.left {
    padding: 5px;
    clear: both;
    max-height: 15em;
    max-width:  400px;
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow:none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
