- content_for :head do
  %title Havocyte | Joseph A Wecker's Blog


- content_for :article do
  %h4 Introduction
  %p.describe OK, trying this out now to see how well the intro works. Curabitur eu felis tellus. Etiam mollis sapien vel lorem volutpat sollicitudin. Sed sollicitudin vulputate purus, sed dapibus urna consectetur id. Quisque nec augue quis eros facilisis ornare. Etiam augue risus, scelerisque eu sodales non, mattis et turpis. Cras vel erat sed turpis suscipit malesuada ac vel nulla. Suspendisse potenti. Nullam ut lectus nisi. Nunc tempor placerat est, id tristique sem blandit nec. Proin lectus arcu, placerat pretium interdum nec, mattis ac risus. Nullam quis lectus est, eget volutpat sem.


//%h2 Hey there
%h2 Header again
%p
  A founder one morning is faced with a prioritization issue. There are
  complaints coming in about a page on the site that's broken - only a few
  complaints, but they seem pretty upset. A cofounder is anxious to make some
  serious headway on Awesomeness(tm), your new awesome feature that will blow
  everyone's mind and slingshot you ahead of the establishment (or, with some
  probability, will be a huge timesink with zero payoff). On top of it all, the
  site is slow, and you know that just a day or two could increase page load
  speed by 40%. Oh, and you're not sure you've really achieved Minimum Viable
  Product yet (? or have you? it's just not clear...)

%p
  What do you work on next? (choose your own adventure)
  %ol
    %li (a) Do a cost-benefit analysis of each option.
    %li (b) All of it!
    %li (c) Go with your gut.

%p
  Here's what your answer says about you:
  (a) You use mad skillz to analyze the negative-buzz-factor of the complaints by
  early-adopters and weigh that against the upside and downside potential (after
  careful analysis) of Awesomeness(tm) and the latest research about conversion
  rates and page-load-speed correlations... Please turn in your entrepreneuer
  badge and report for work at Oracle or Microsoft.

%p
  (b) Good thinking (avoidance). You're a pivoting agile madman. However,
  throughout the day you add to your list of three parallel items the other 10
  items that come up and your startup begins to resemble the a blurry smear of
  unfinished initiatives and sleep deprivation.

%p
  (c) You may not have all the answers, but you have leadership. Assuming you
  have a good intrinsic sense of business, a solid vision, and a degree of luck,
  you succeed! You are the balance between flexible responsiveness and
  decisive-execution-against-all-odds; the balance between chaos and order; a
  monk of the startup order.

%p
  Believe it or not, the Kano model is _not_ a tool for doing (a) as you might
  assume from a quality model out of the 80's used by Six Sigma blackbelts in
  fortune 100 companies. It is actually a mental model that allows you to
  better accomplish (c). Ideally it will give you a more well-informed gut.



%blockquote
  Kano believed that not all attributes of product or service performance are
  equal in the eyes of the customer, and that some attributes create higher
  levels of customer loyalty than others." --
  [wikipedia|http://en.wikipedia.org/wiki/Noriaki_Kano#Contributions_to_quality]


%p Some text 1 Cras at eros dolor, vitae eleifend nunc. Nulla facilisi. Curabitur eu felis tellus. Etiam mollis sapien vel lorem volutpat sollicitudin. Sed sollicitudin vulputate purus, sed dapibus urna consectetur id. Quisque nec augue quis eros facilisis ornare. Etiam augue risus, scelerisque eu sodales non, mattis et turpis. Cras vel erat sed turpis suscipit malesuada ac vel nulla. Suspendisse potenti. Nullam ut lectus nisi. Nunc tempor placerat est, id tristique sem blandit nec. Proin lectus arcu, placerat pretium interdum nec, mattis ac risus. Nullam quis lectus est, eget volutpat sem.
%h2 Header 2 that keeps going
%p Some text 2 Cras at eros dolor, vitae eleifend nunc. Nulla facilisi. Curabitur eu felis tellus. Etiam mollis sapien vel lorem volutpat sollicitudin. Sed sollicitudin vulputate purus, sed dapibus urna consectetur id. Quisque nec augue quis eros facilisis ornare. Etiam augue risus, scelerisque eu sodales non, mattis et turpis. Cras vel erat sed turpis suscipit malesuada ac vel nulla. Suspendisse potenti. Nullam ut lectus nisi. Nunc tempor placerat est, id tristique sem blandit nec. Proin lectus arcu, placerat pretium interdum nec, mattis ac risus. Nullam quis lectus est, eget volutpat sem.
%h3 Header 3 that just keeps going and going Wowsers! fjewijf owiejf owiejf lkasdj flaksjd flkajs df;owiej aokjvalughjaru e h;
%p Some text 3 Cras at eros dolor, vitae eleifend nunc. Nulla facilisi. Curabitur eu felis tellus. Etiam mollis sapien vel lorem volutpat sollicitudin. Sed sollicitudin vulputate purus, sed dapibus urna consectetur id. Quisque nec augue quis eros facilisis ornare. Etiam augue risus, scelerisque eu sodales non, mattis et turpis. Cras vel erat sed turpis suscipit malesuada ac vel nulla. Suspendisse potenti. Nullam ut lectus nisi. Nunc tempor placerat est, id tristique sem blandit nec. Proin lectus arcu, placerat pretium interdum nec, mattis ac risus. Nullam quis lectus est, eget volutpat sem.
%h4 Header 4
%p Some text 4 Cras at eros dolor, vitae eleifend nunc. Nulla facilisi. Curabitur eu felis tellus. Etiam mollis sapien vel lorem volutpat sollicitudin. Sed sollicitudin vulputate purus, sed dapibus urna consectetur id. Quisque nec augue quis eros facilisis ornare. Etiam augue risus, scelerisque eu sodales non, mattis et turpis. Cras vel erat sed turpis suscipit malesuada ac vel nulla. Suspendisse potenti. Nullam ut lectus nisi. Nunc tempor placerat est, id tristique sem blandit nec. Proin lectus arcu, placerat pretium interdum nec, mattis ac risus. Nullam quis lectus est, eget volutpat sem.
%h5 Header 5
%p Some text 5 Cras at eros dolor, vitae eleifend nunc. Nulla facilisi. Curabitur eu felis tellus. Etiam mollis sapien vel lorem volutpat sollicitudin. Sed sollicitudin vulputate purus, sed dapibus urna consectetur id. Quisque nec augue quis eros facilisis ornare. Etiam augue risus, scelerisque eu sodales non, mattis et turpis. Cras vel erat sed turpis suscipit malesuada ac vel nulla. Suspendisse potenti. Nullam ut lectus nisi. Nunc tempor placerat est, id tristique sem blandit nec. Proin lectus arcu, placerat pretium interdum nec, mattis ac risus. Nullam quis lectus est, eget volutpat sem.
%h6 Header 6
-#
-#  #l(style="float:left; width:500px; padding-right: 10px; border-right: 2px solid #aaa; margin-right: 10px")
-#    %h1 Altered-jog
-#    %h2 Coming soon...
-#    %p.o1
-#      Cras at eros dolor, vitae eleifend nunc. Nulla facilisi. Curabitur eu felis tellus.
-#      %span.big Etiamjj
-#      mollis sapien vel lorem volutpat sollicitudin. Sed sollicitudin vulputate purus, sed dapibus urna consectetur id. Quisque nec augue quis eros facilisis ornare. Etiam augue risus, scelerisque eu sodales non, mattis et turpis. Cras vel erat sed turpis suscipit malesuada ac vel nulla. Suspendisse potenti. Nullam ut lectus nisi. Nunc tempor placerat est, id tristique sem blandit nec.
-#      %p Proin lectus arcu, placerat pretium interdum nec, mattis ac risus. Nullam quis lectus est, eget volutpat sem. Morbi arcu ligula, adipiscing non vehicula sit amet, consequat non lacus. Nam pretium imperdiet neque. Sed aliquet vulputate sagittis. Quisque dapibus, lacus non hendrerit consectetur, nulla enim scelerisque velit, volutpat consequat purus justo sed velit. Proin vitae lectus eu lorem ornare tempor.
-#      %h3 How's this one doing?
-#      %p It's almost impossible to know, you know?
-#r(style="float:left; width:500px;")
%p.o1 Cras at eros dolor, vitae eleifend nunc. Nulla facilisi. Curabitur eu felis tellus. Etiam mollis sapien vel lorem volutpat sollicitudin. Sed sollicitudin vulputate purus, sed dapibus urna consectetur id. Quisque nec augue quis eros facilisis ornare. Etiam augue risus, scelerisque eu sodales non, mattis et turpis. Cras vel erat sed turpis suscipit malesuada ac vel nulla. Suspendisse potenti. Nullam ut lectus nisi. Nunc tempor placerat est, id tristique sem blandit nec. Proin lectus arcu, placerat pretium interdum nec, mattis ac risus. Nullam quis lectus est, eget volutpat sem.
%p Morbi arcu ligula, adipiscing non vehicula sit amet, consequat non lacus. Nam pretium imperdiet neque. Sed aliquet vulputate sagittis.
//%h1 Header 1 Oh yeah Oh yeah
//%h2 Header 2 in particularly tight
%h3 Header 3
%h4 Header 4 Quisque dapibus, lacus non hendrerit consectetur, nulla enim scelerisque velit, volutpat consequat purus justo sed velit. Proin vitae lectus eu lorem ornare tempor. 
%p Quisque dapibus, lacus non hendrerit consectetur, nulla enim scelerisque velit, volutpat consequat purus justo sed velit. Proin vitae lectus eu lorem ornare tempor.
%h1
%h1 Another one Two
%h4 Howbeit you think ge
%p.o2 Cras at eros dolor, vitae eleifend nunc. Nulla facilisi. Curabitur eu felis tellus. Etiam mollis sapien vel lorem volutpat sollicitudin. Sed sollicitudin vulputate purus, sed dapibus urna consectetur id. Quisque nec augue quis eros facilisis ornare. Etiam augue risus, scelerisque eu sodales non, mattis et turpis. Cras vel erat sed turpis suscipit malesuada ac vel nulla. Suspendisse potenti. Nullam ut lectus nisi. Nunc tempor placerat est, id tristique sem blandit nec. Proin lectus arcu, placerat pretium interdum nec, mattis ac risus. Nullam quis lectus est, eget volutpat sem. Morbi arcu ligula, adipiscing non vehicula sit amet, consequat non lacus. Nam pretium imperdiet neque. Sed aliquet vulputate sagittis.
%p Oh yeah, this ih fiewoj foiwej foiwj efalj feiojw efija wjfklsj dlfjaiwe lfiajwl fkjdskjk iejwoijfoaooooifjewiruoweiru owierukSdjf aieofawejf 
%br
%br
%br
%h1 Header 1
%h2 Header 2
%h3 Header 3
%h4 Header 4
%h5 Header 5
%h6 Header 6
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
