//====| Settings |=============================================================

$dark-bg:            15
$dark-bg-emph:       $dark-bg       + 20
$dark-minor:         $dark-bg-emph  + 20
$dark-content:       $dark-minor    + 20
$dark-content-emph:  $dark-content  + 20

$light-bg:           95
$light-bg-emph:      $light-bg      - 20
$light-minor:        $light-bg-emph - 20
$light-content:      $light-minor   - 20
$light-content-emph: $light-content - 20

@function neut($lightness)
  @return lch($lightness, 7, 0.154)

$main-text:         #2e2928
$golden:            1.6180339887
$unit:              29px    !default
$columns:           6       !default
$base-line-height:  $golden !default
$base-line-height:  1.4
$units-per-column:  10      !default
$rows-per-group:    8       !default
$base-font-size:    round($unit / $base-line-height)
$h-unit:            $base-font-size
$body-side-padding: $h-unit !default
$body-top-padding:  $h-unit !default
$page-margin:       29px
$row-height:        29
$row-height-px: $row-height + 0px
//$base-size:                    19px


//====| Reset |================================================================
 | Modified from: http://meyerweb.com/eric/tools/css/reset/ v2.0b1 | 201101 
 | License: Public Domain

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i,
center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption,
figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio,
video
  margin:          0
  padding:         0
  border:          0
  outline:         0
  font-size:       100%
  font:            inherit
  vertical-align:  baseline
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav,
section
  display:         block
body
  line-height:     1
ol, ul
  list-style:      none
blockquote, q
  quotes:          none
  &:before, &:after
    content:       ''
    content:       none
ins
  text-decoration: none
del
  text-decoration: line-through
table
  border-collapse: collapse
  border-spacing:  0


.block
  width: 12px
  height: 12px
  margin: 2px
  float: left
  margin-bottom: $unit / 2
  margin-top: - ($unit / 2)
.block2
  width: 12px
  height: 12px
  margin: 2px
  float: left


//
  .c1
    background-color: neut($dark-bg)
  .c2
    background-color: neut($dark-bg-emph)
  .c3
    background-color: neut($dark-minor)
  .c4
    background-color: neut($dark-content)
  .c5
    background-color: neut($dark-content-emph)
  .c6
    background-color: neut($light-bg)
  .c7
    background-color: neut($light-bg-emph)
  .c8
    background-color: neut($light-minor)
  .c9
    background-color: neut($light-content)
  .c10
    background-color: neut($light-content-emph)

@for $i from 1 through 15
  .c#{$i}
    background-color: lch2(75,90,$i - 1)
    color: black
    font-size: 7.5px

.c1
  margin-left: $h-unit


@for $i from 1 through 15
  .d#{$i}
    background-color: lch2(65,100,$i - 1)
    color: black
    font-size: 7.5px

//====| Misc |================================================================
::-webkit-scrollbar
  width:                       6px
  height:                      6px
  &-button
    &:start:decrement, &:end:increment
      display:                 block
      height:                  0
    &:vertical:increment
      background-color:        neut($light-bg)
  &-track-piece
    background-color:          neut($light-bg-emph)
    -webkit-border-radius:     3px
  &-thumb
    &:vertical, &:horizontal
      height:                  50px
      background-color:        neut($light-minor)
      -webkit-border-radius:   3px

=aligned($rows)
  $asize: 0
  $atop:  0
  @if $rows > 1
    $asize: ((3.0 / 2.0 * $rows * $row-height) - $row-height)
    $atop: ceil($row-height / 3.0 * (3.0 - $rows) / 2.0 + (5 - ($rows*1.6666666)))
  @else
    $asize: $row-height
    $atop: $row-height / 6.0
  font-size:    $asize + 0px
  line-height:  $asize + 0px
  top:          $atop + 0px
  text-align:   left
  //background-color: #3e3b3a
  //float: left
  width: 60%
  //margin-bottom: 0
  //margin-top: 0
  margin-bottom: ($asize % $row-height) + $row-height + 0px
  font-family:     Gruppo, "GruppoRegular", sans-serif
  hyphenate:                   auto
  hyphenate-lines:             3
  clear: both

  //border-top: #{$rows * 1px} solid #ccc
  //margin-top: $row-height + 0px
  //border-bottom: 1px solid blue
  //border-top: 1px solid red

h1
  +aligned(2)
  color: $main-text + #111
  //color: $main-text - #222

header h1
  color: #c4bdbb

h2
  +aligned(1.5)
  //color: #847673 - #222
  color: #645a5a
  //color: $main-text + #333
  //float: left

h3
  color: #645a5a
  +aligned(1)
  text-align: right
  width: 100%
  //float: left

h4
  +aligned(1)
  //font-weight: bold
  color: #060

h5
  +aligned(1)

h6
  +aligned(1)
  font-style: italic

p
  font-size: $base-font-size
  line-height: $base-line-height
  margin-top: $row-height + 0px
  margin-bottom: $row-height + 0px
  font-family: "Didact Gothic", sans-serif
  width: 60%
  padding-left: $page-margin
  margin-left: $page-margin
  margin-right: $page-margin
  border-left: 1px solid #cfcccc
  float: right

p.describe
  line-height: $row-height * 2px
  top: 0 - ($row-height-px * 1.3333333)
  color: #777


header
  height: 138px
  background-color: #2b2928
  padding: $body-side-padding

#main
  background-color: #e1e0df
  padding: $body-side-padding

.clear
  clear: both

.subtitle
  +aligned(1.5)
  color: #847673 - #333

nav
  time
    font-family: "Didact Gothic", sans-serif
    font-size: $base-font-size * 0.6
    line-height: $base-line-height
    color: neut($light-minor)
  a
    text-decoration: none
    font-family: "Didact Gothic", sans-serif
    line-height: $base-line-height
    font-size: $base-font-size
    color: lch($light-content-emph, 70, 0.0)
    &:hover
      text-decoration: underline
      color: lch($light-content-emph + 10, 90, 0.0)
