//====| Settings |=============================================================

$dark-bg:            15
$dark-bg-emph:       $dark-bg       + 20
$dark-minor:         $dark-bg-emph  + 20
$dark-content:       $dark-minor    + 20
$dark-content-emph:  $dark-content  + 20

$light-bg:           95
$light-bg-emph:      $light-bg      - 20
$light-minor:        $light-bg-emph - 20
$light-content:      $light-minor   - 20
$light-content-emph: $light-content - 20

@function neut($lightness)
  @return lch($lightness, 7, 0.154)

$main-text:         neut($light-content)
$golden:            1.6180339887
$unit:              29px    !default
$base-line-height:  1.25    !default
$base-font-size:    round($unit / $base-line-height)
$h-unit:            $base-font-size

$left-width:        10 * $h-unit

=fsize($rows, $lh: $base-line-height)
  $new-unit:                   $rows * $unit
  font-size:                   round($new-unit / $lh)
  line-height:                 round($rows * $unit)

//====| Reset |================================================================
 | Modified from: http://meyerweb.com/eric/tools/css/reset/ v2.0b1 | 201101 
 | License: Public Domain

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i,
center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption,
figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio,
video
  margin:          0
  padding:         0
  border:          0
  outline:         0
  font-size:       100%
  font:            inherit
  vertical-align:  baseline
  +fsize(1)

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav,
section
  display:         block
body
  line-height:     $unit
ol, ul
  list-style:      none
blockquote, q
  quotes:          none
  &:before, &:after
    content:       ''
    content:       none
ins
  text-decoration: none
del
  text-decoration: line-through
table
  border-collapse: collapse
  border-spacing:  0

//====| Misc |================================================================
::-webkit-scrollbar
  width:                       6px
  height:                      6px
  &-button
    &:start:decrement, &:end:increment
      display:                 block
      height:                  0
    &:vertical:increment
      background-color:        neut($light-bg)
  &-track-piece
    background-color:          neut($light-bg-emph)
    -webkit-border-radius:     3px
  &-thumb
    &:vertical, &:horizontal
      height:                  50px
      background-color:        neut($light-minor)
      -webkit-border-radius:   3px

//====| Typography |===========================================================
@font-face
  font-family:                 'GruppoRegular'
  src:                         url('/fonts/gruppo-wf.eot')
  src:                         url('/fonts/gruppo-wf.eot?#iefix') format('embedded-opentype'), url('/fonts/gruppo-wf.woff') format('woff'), url('/fonts/gruppo-wf.ttf') format('truetype'), url('/fonts/gruppo-wf.svg#GruppoRegular') format('svg')
  font-weight:                 normal
  font-style:                  normal

html
  background-color:            neut($light-bg)
  color:                       neut($light-content)

body
  font-size:                   $base-font-size
  padding:                     0
  -webkit-text-size-adjust:    100%
  text-rendering:              optimizeLegibility
  font-family:                 "Didact Gothic", sans-serif
  -webkit-font-smoothing:      antialiased
  background-color:            neut($light-bg)
  color:                       neut($light-content)

#overlay
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 5000px
  $b-h-unit: 23
  $b-unit: 29
  background-image: unquote('url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22#{ $b-h-unit }%22%20height%3D%22#{ $b-unit }%22%20version%3D%221.0%22%3E%3Crect%20x%3D%220%22%20y%3D%22#{ $b-unit - 1 }%22%20width%3D%22#{ $b-h-unit }%22%20height%3D%221px%22%20style%3D%22fill%3A%23FF0000%22%20opacity%3D%220.6%22%2F%3E%3Crect%20x%3D%22#{ $b-h-unit - 1 }%22%20y%3D%220%22%20width%3D%221px%22%20height%3D%22#{ $b-unit }%22%20style%3D%22fill%3A%23FF0000%22%20opacity%3D%220.5%22%2F%3E%3C%2Fsvg%3E)')
  z-index: 100000


html>body
  padding:                     0

h1,h2,h3,h4,h5,h6,p,span
  color:                       neut($light-content-emph)
  hyphenate:                   auto
  hyphenate-lines:             3
  text-align:                  left

p,span
  +fsize(1)
  font-family:                 "Didact Gothic", sans-serif
  color:                       neut($light-content)

h1,h2,h3,h4,h5,h6
  font-family:                 Gruppo, "GruppoRegular", sans-serif
  
body>header
  background-color:   neut($dark-bg)
  position: fixed
  -moz-box-shadow: -9px 2px 14px -5px neut($dark-bg-emph)
  -webkit-box-shadow: -9px 2px 14px -5px neut($dark-bg-emph)
  box-shadow: -9px 2px 14px -5px neut($dark-bg-emph)
  width: $left-width
  padding: 0
  margin-bottom: -1px
  border-bottom: 1px solid neut($dark-content)
  height: 5 * $unit
  z-index: 1000

  hgroup
    padding: 0
    margin: 0
    padding-left: $h-unit
  h1
    font-family:  "Didact Gothic", sans-serif
    color: neut($dark-bg-emph)
    +fsize(4)
    padding-top: 0
    width: $left-width - (2 * $h-unit)
    text-align: center
    font-family:                 Gruppo, "GruppoRegular", sans-serif
    //font-family: "Handwriting - Dakota"
    //font-family: "Optima"
    //font-family: 
    //font-family: "TradeGothic CondEighteen"
    //font-family: "Trajan Pro"
    //font-family: "Univers Condensed"
    //font-family: "TradeGothic CondEighteen", sans-serif
  .subtitle
    margin-top: 5px
    width: $left-width - (2 * $h-unit)
    text-align: center
    font-family:                 Gruppo, "GruppoRegular", sans-serif
    color: neut($dark-minor)
    font-weight: normal
    +fsize(1, 1.75)

  h3
    +fsize(1)
    color: neut($dark-content)

h3
  padding-top: 5px
  margin-bottom: 10px
  +fsize(1,$golden)
  color: neut($light-minor)
  text-align: right
article
  +fsize(1)
  background-color: neut($light-bg)
  margin-left: $left-width
  header
    -moz-box-shadow: -20px 2px 14px -5px neut($dark-bg-emph)
    -webkit-box-shadow: -20px 2px 14px -5px neut($dark-bg-emph)
    box-shadow: -20px 2px 14px -5px neut($dark-bg-emph)
    position: fixed
    background-color: neut($dark-bg-emph)
    height: 5 * $unit
    width: 100%
    margin-bottom: -1px
    border-bottom: 1px solid neut($dark-content)
    padding-left: $h-unit
    color: (neut($dark-bg) + #111)
    hgroup
      margin-right: $left-width * 2 + $h-unit
    h1
      padding-top: $unit
      +fsize(1)
      color: neut($dark-minor) + #070707
      border-bottom: 1px solid (neut($dark-minor) - #272727)
      text-align: right
    #article-meta
      +fsize(1,$golden)
      font-family:                 Gruppo, "GruppoRegular", sans-serif
      text-align: right
    time
      +fsize(1,$golden)
      font-family:                 Gruppo, "GruppoRegular", sans-serif
      font-weight: bold
    #section-title
      +fsize(1)
      color: neut($dark-minor) + #070707
      margin-left: 0
      margin-right: 0
      padding-left: 0
      text-align: right
      border: 0
  h2
    text-align: right
    border-bottom: 1px solid neut($light-bg-emph)
    margin-bottom: $unit
    +fsize(1)

  p
    +fsize(1,$golden)
    padding-left: $h-unit
    max-width: 22 * $h-unit
    margin-bottom: $unit
    a
      text-decoration: none
      font: inherit
      color: inherit
      &:hover
        color: neut($light-minor)
        text-decoration: underline

ul
  margin-bottom: $unit
  list-style: outside

ol
  margin-left: 3 * $h-unit
  margin-bottom: $unit
  list-style: outside
  li
    list-style: decimal
    +fsize(1,$golden)
  



article section
  border-left: 1px solid (neut($light-bg-emph) + #222)
  margin-right: 6px + $left-width
  h2:first-child
    visibility: hidden
    &+p
      padding-top: 4 * $unit

.clear
  clear: both

nav
  padding: $h-unit
  padding-top: 6 * $unit
  time
    font-family: "Didact Gothic", sans-serif
    font-size: $base-font-size * 0.6
    line-height: $unit
    color: neut($light-minor)
  a
    text-decoration: none
    font-family: "Didact Gothic", sans-serif
    line-height: $unit
    font-size: $base-font-size
    color: lch($light-content-emph, 70, 0.0)
    &:hover
      text-decoration: underline
      color: lch($light-content-emph + 10, 90, 0.0)
