!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="content-type" content="text/html; charset=utf-8")
    %meta(content="IE=edge,chrome=1" http-equiv="X-UA-Compatible")
    %title {{page.title}}
    %link(rel="stylesheet" type="text/css" href="/css/a.css")
    %link(rel="shortcut icon" href="/favicon.png")
    /[if lt IE 9]
      %script(type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js")
    %script(type="text/javascript" src="/js/foutbgone.js")
    %script(type="text/javascript" src="/js/jquery-1.6.4.min.js")
    %script(type="text/javascript" src="/js/auto_align.js")
    %script(type="text/javascript" src="/js/heading-fader.js")
  %body
    /#overlay &nbsp;
    %header
      %hgroup
        %h1
          JAW
        %p.subtitle input / output

    %article
      %header
        %hgroup
          %h1.page-title {{page.title}}
          .atxt#article-meta
            {{page.tags | array_to_sentence_string}}
            \/
            Joseph A. Wecker
            \/
            %time.atxt(datetime="{{page.date}}" pubdate="pubdate") {{page.date | date_to_long_string }}
          %h2#section-title hm
      %section
        {{content}}
      %footer
        #disqus_thread
        :javascript
          var disqus_shortname = 'jawio';
          var disqus_identifier = "{{page.url}}";
          var disqus_url = "http://jaw.io{{page.url}}";
          (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        %noscript
          Please enable JavaScript to view the
          %a(href="http://disqus.com/?ref_noscript") comments powered by Disqus
          \.
    %footer
      %p
        %img(src="/images/cc.png" alt="(Creative Commons)")
        %img(src="/images/cc-by.png" alt="Attribution")
        %img(src="/images/cc-sa.png" alt="Share-Alike")
        Joseph A. Wecker. Except where otherwise noted, content on this site is licensed under a
        %a(href="http://creativecommons.org/licenses/by-sa/3.0/legalcode") Creative Commons BY-SA 3.0
        license.
