---
title: About Joseph A Wecker
body_class: about
---
%header.about
  %a{:href=>'/'}
    %img.jaw{:src=>'/img/jaw.svg'}
  %h1 Joseph A Wecker
  %nav
    %ul
      %li About
      %li
        %a{:href=>'/technical'} Technical
  .clearfix
#information
  %p.about
    In the near future you'll be able to find an updated curriculum vitæ here.
    For now, here is some basic information. Feel free to email me for questions:
  %table.about
    %tr
      %td Current&nbsp;Position
      %td
        Founder &amp; CIO @
        %a{:href=>'http://exsig.com'} Exsig,
        and Consultant
    %tr
      %td Past&nbsp;Positions
      %td
        Senior Engineer @
        %a{:href=>'http://www.twitch.tv'} twitch.tv
        \/
        %a{:href=>'http://www.justin.tv'} justin.tv,
        %br
        CEO, CTO, VP of Marketing, &amp; Cofounder @
        %a{:href=>'http://samaritan.com'} Samaritan Technologies,
        %br
        COO @ Leisure Properties, and Consultant to many.
    %tr
      %td Email
      %td
        %a{:href=>'mailto://joseph.wecker@gmail.com'} joseph.wecker@gmail.com
        %br
        %a{:href=>'mailto://joseph.wecker@exsig.com'} joseph.wecker@exsig.com
    %tr
      %td Phone
      %td 650.898.7170
    %tr
      %td Misc. Links
      %td
        %ul
          %li
            %a{:href=>'http://jaw.io'} jaw.io
          %li
            %a{:href=>'https://github.com/josephwecker'} Github
          %li
            %a{:href=>'http://resume.github.io/?josephwecker'} Github Resume
          %li
            %a{:href=>'http://www.linkedin.com/in/josephwecker'} LinkedIn

