---
title: Joseph A Wecker
body_class: index
---
%header
  %img.jaw{:src=>'/img/jaw.svg'}
  %h1 Joseph A Wecker
  %nav
    %ul
      %li
        %a{:href=>'/about'} About
      %li
        %a{:href=>'/technical'} Technical
  .clearfix


