<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta content="text/html; charset=utf-8" http-equiv="content-type">
<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
<title>{{page.title}}</title>
<link href="/css/a.css" rel="stylesheet" type="text/css">
<link href="/favicon.png" rel="shortcut icon">
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
<![endif]-->
<script src="/js/foutbgone.js" type="text/javascript"></script>
<script src="/js/jquery-1.6.4.min.js" type="text/javascript"></script>
<script src="/js/auto_align.js" type="text/javascript"></script>
<script src="/js/heading-fader.js" type="text/javascript"></script>
</head>
<body>
<!-- #overlay &nbsp; -->
<header>
<hgroup>
<h1>
JAW
</h1>
<p class="subtitle">input / output</p>
</hgroup>
</header>
<article>
<header>
<hgroup>
<h1 class="page-title">{{page.title}}</h1>
<div class="atxt" id="article-meta">
{{page.tags | array_to_sentence_string}}
/
Joseph A. Wecker
/
<time class="atxt" datetime="{{page.date}}" pubdate="pubdate">{{page.date | date_to_long_string }}</time>
</div>
<h2 id="section-title">hm</h2>
</hgroup>
</header>
<section>
{{content}}
</section>
<footer>
<div id="disqus_thread"></div>
<script>
  //<![CDATA[
    var disqus_shortname = 'jawio';
    var disqus_identifier = "{{page.url}}";
    var disqus_url = "http://jaw.io{{page.url}}";
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
  //]]>
</script>
<noscript>
Please enable JavaScript to view the
<a href="http://disqus.com/?ref_noscript">comments powered by Disqus</a>
.
</noscript>
</footer>
</article>
<footer>
<p>
<img alt="(Creative Commons)" src="/images/cc.png">
<img alt="Attribution" src="/images/cc-by.png">
<img alt="Share-Alike" src="/images/cc-sa.png">
Joseph A. Wecker. Except where otherwise noted, content on this site is licensed under a
<a href="http://creativecommons.org/licenses/by-sa/3.0/legalcode">Creative Commons BY-SA 3.0</a>
license.
</p>
</footer>
</body>
</html>
